.app{
    text-align: 'center';
    min-height: 100vh;
}

.container-card{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 24px);
}